*.npz filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
app/dataset_temp/*.npz filter=lfs diff=lfs merge=lfs -text
app/Operator_network/dataset/*.npz filter=lfs diff=lfs merge=lfs -text
keybert_model.pkl filter=lfs diff=lfs merge=lfs -text
app/pinn_mionet/model_save/*.pth filter=lfs diff=lfs merge=lfs -text
app/Operator_network/dataset/3DOF_train.npz filter=lfs diff=lfs merge=lfs -text
app/pinn_mionet/model_save/pinn_zhenxin_data2_12_4e-07_500_35.0s_1.pth filter=lfs diff=lfs merge=lfs -text
app/dataset_temp/3DOF_test.npz filter=lfs diff=lfs merge=lfs -text
app/Operator_network/dataset/data_motivation.npz filter=lfs diff=lfs merge=lfs -text