django~=5.0.4
numpy~=1.26.4
tensorflow-gpu~=2.10.0
pandas~=2.2.2
scikit-learn~=1.4.2
opencv-python~=4.9.0.80
matplotlib~=3.8.4
jieba~=0.42.1
keras~=2.10.0
keybert~=0.8.4
fuzzywuzzy~=0.18.0
torch~=2.7.0
tqdm~=4.67.0
reportlab~=4.4.3
gym~=0.26.1
torchvision~=0.22.0
pygame~=2.6.1
scipy~=1.14.1